// colors
$footer-background:  #323232;
$button-gradient: linear-gradient(91.83deg, #93E08C -1.93%, #78CEBF 97.03%);
$theme-green: #479C3F;

//fonts
$font-main: Montserrat;
$font-8px: 0.625vw;
$font-10px: 0.806vw;
$font-12px: 0.967vw;
$font-14px: 1.129vw;
$font-16px: 1.290vw;
$font-18px: 1.451vw;
$font-20px: 1.612vw;

$font-24px: 1.935vw;


// font-style: normal;
// font-weight: 600;
// font-size: 16px;
// line-height: 20px;