@import "src/styles/variables.scss"; 

.arrow-reverse{
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.carosel-wrapper{
  margin-top: 1.88vw;
  height:28.46vw;
}
.carousel-control-prev{
  left: -2.1vw;
}
.carousel-control-next {
  right: -2.1vw;
}
.carousel-control-prev, .carousel-control-next {
  top: 18.498vw !important;
  width: 9% !important;
  height: 20%;
  opacity: 1 !important;
  }
.carousel-indicators{
  bottom: 5.6vw !important;
  .active{
    background: $button-gradient;
  }
  li {
    width: 12px !important; 
    height: 12px !important;
    background-color: #C9C9C9 !important;
    border: none !important;
    border-radius: 50%;
  }
}

.gallery_header{
@include h2_headers
}
